{{>header}}

  <div id="content">

    <h2 class="intro">Security Policy</h2>
    <p>We are very security conscious and we take this very seriously. We employ a number of industry standard best practices to protect this service and your data.</p>

    <ul>
      <li>We use trusted, secure, well respected Linux distributions (RedHat Enterprise Linux in this case).</li>
      <li>We keep our systems patched and up to date.</li>
      <li>We use firewalls proactively and use a whitelist approach for limited access/services.</li>
      <li>We host the service in an internal, protected computing environment.</li>
      <li>We do not keep decryption keys or credentials for passphrase-protected secrets.</li>
    </ul>
<h4>HIPAA/PHI</h4>
<p>This service was not designed or deployed with HIPAA considerations and does not meet the standards necessary for use with Protected Health Information. This tool is not to be used for any patient health data or any data covered under HIPAA regulations.</p>
  </div>

{{>footer}}
