{{>header}}

  <div class="row-fluid">
    <div class="span8">
      <h3 class="cufon">Log In</h3>

      {{>partial/session_messages}}

      <form method="post" class="well">
        {{{add_shrimp}}}

        <fieldset>
          <!--<legend>Legend</legend>-->
          <div class="control-group">
            <label class="control-label" for="custidField">{{i18n.COMMON.field_email}}</label>
            <div class="controls">
              <input type="text" name="u" id="custidField" class="input-xlarge" value="{{form_fields.custid}}" placeholder="" />
            </div>
            <label class="control-label" for="passField">{{i18n.COMMON.field_password}}</label>
            <div class="controls">
              <input type="password" name="p" id="passField" class="input-xlarge" value="" placeholder="" />
            </div>
          </div>
          <div class="control-group">
            <div class="controls">
              <button type="submit" class="btn btn-large btn-custom cufon">{{i18n.page.button_sign_in}}</button>
            </div>
          </div>
        </fieldset>
        <script type="text/javascript">
          $('#custidField').focus();
        </script>
      </form>

    </div>
  </div>

  <div class="row-fluid">
    <ul class="unstyled">
      <li><a href="/signup" class="smaller lighter">{{i18n.page.need_an_account}}</a></li>
      <li><a href="/forgot" class="smaller lighter">{{i18n.page.forgot_your_password}}</a></li>
    </ul>
  </div>


{{>footer}}
