
{{>header}}

  <div class="row-fluid">
    <div class="span12">
      <h3 class="cufon">Sign up to be able to:</h3>
      <ul class="">
        <li>Check if your secrets have been viewed or expired</li>
	<li>Manually burn unread secrets</li>
	<li>Set longer secret expiration time (up to 14 days)</li>
	<li>Send secrets directly via email</li>
      </ul>

      {{>partial/session_messages}}

      {{>partial/signup_form_basic}}
    </div>
  </div>
  <div class="row-fluid">
    <ul class="unstyled">
      <li><a href="/login" class="smaller lighter">Already have an account?</a></li>
    </ul>

  </div>

{{>footer}}
