<p>Please verify your USF Secrets acount:</p>

<strong>{{baseuri}}{{verify_uri}}</strong></p>

<p>USF IT Web Services<br/>
{{baseuri}}</p>

<p>This email was sent to {{email_address}}. If you did not create an account, you can ignore this email.</p>
